<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WriteStuff</title>
    <link rel = 'stylesheet' href = 'indexstyles.css'>
</head>
<body>
    <nav class = 'navbar'>
        
        <div class = 'navtitle'>WriteStuff</div>
        <div class = 'navitem' >
            <a href="login"><button>LogIn</button></a>
            <a href="signup"><button>SignUp</button></a>
        </div>
                
    </nav>
    <div class = 'intro'>
        <p>Welcome to WriteStuff!!</p>
        <p>A place to pin your thoughts...</p>
        <p>LogIn or SignUp to start writing and give your thoughts an audience...</p>
    </div>
    


</body>
</html>