<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LogIn to WriteStuff</title>
    <link rel = 'stylesheet' href = 'loginstyles.css'>
</head>
<body>
    <%- include('partials/nav.ejs') %>
    <br><br>
    <div class="login">
        <form class="form-login">       
          <h2 class="heading">Please enter your credentials:</h2>
          <input type="text" class="form-control" name="username" placeholder="Username" required>
          <input type="password" class="form-control" name="password" placeholder="Password" required>      
          <br>
          <button class="loginsubmit" type="submit"><strong>Login</strong></button>   
        </form>
    </div>
</body>
</html>