body{
    background-color: greenyellow;
}

.navbar{
    background-color: #333;
    color: wheat;
}

.navitem{
    float: right;
}

button{
    color: #333;
    background-color: greenyellow;
    font-size: 20px;
    padding: 10px;
    margin: 40px 20px;
    border: 2px solid wheat;
    border-radius: 5px;
}

.navtitle{
    display: inline-block;
    font-weight: bold;
    font-size: 45px;
    text-shadow: 1px 1px greenyellow; 
    border: 2px solid wheat;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
}

.intro{
    color: #333;
    font-size: 40px;
    font-weight: bolder;
    letter-spacing: 2px;
    padding: 20px;
    line-height: 75px;
    text-shadow: 1px 1px wheat;
}